.mb-sm{ margin-bottom: 2rem !important;}; // small
.mb-md{ margin-bottom: 3rem !important;}; // medium
.mb-lg{ margin-bottom: 4rem !important;}; // large
.mb-hg{ margin-bottom: 8rem !important;}; // huge